@charset "UTF-8";
* {
    margin: 0px;
    padding: 0px;
}
p{
    text-indent: 20px;
    text-align: justify;
}
body{
    background-color: #FF524F;
    font-family: Arial, Helvetica, sans-serif;
}
p.meio{
    text-align: center;
}
header {
    background-image: linear-gradient( #FF524F, #FF1612, #CC110E);
    min-height: 150px;
    text-align: center;
    padding-top: 40px;
}
header h1 {
    color: white;
    font-weight: normal;
    text-align: center;
    margin-bottom: 20px;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.324);
}
header p {
    color: white;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1,2em;
    max-width: 500px;
    margin: auto;
    padding-right: 10px;
    padding-left: 10px;
    text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.324);
    margin-bottom: 20px;
}
main p {
    text-indent: 30px;
    text-align: justify;
    margin: 15px 0px;
    line-height: 1,5em;
    font-size: 1em;
}
img.media{
    padding: 0px;
    margin: 5px auto 5px auto;
    min-width: 300px;
    max-width: 1000px;
}
nav {
    background-color: #CC110E;
    padding: 5px;
    box-shadow: 0px 7px 7px rgb(0, 0, 0, 0.192);
    text-align: center;
}       
nav a {
    color: #FF524F;
    text-decoration: none;
    padding: 2px;
    font-weight: bold;
    border-radius: 5px;
    transition-duration: 0.5s;
    margin: 0px;
}
    nav > a:hover {
    background-color: black ;
    color: #CC110E;
    margin: 0px;
}
main {
    background-color: white;
    max-width: 1000px;
    min-width: 300px;
    margin: auto;
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.456);
    margin-bottom: 30px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
main h2,h3 {
text-align: center;
}
main img.principal{
    padding: 5px;
    min-width: 250px;
    max-width: 600px;
    max-height: 400px;
    height: 100%;
    width: 40%;
    margin: 5px auto 5px 25%;
}
main img.seta{
    max-width: 50px;
    max-height: 50px;
    margin: 5px auto 5px auto;
    padding-left: auto;
    padding-right: auto;
}
main p {
    padding: 5px;
}
p.meio {
    text-align: center;
}
main a {
    text-decoration: none;
    font-weight: normal;
    color: #FF524F;
    background-color: #CC110E;
    border-radius: 4px;
}
main a:hover {
    text-decoration: underline;
    color: black;
    font-weight: bold;
}
main a.seta {
    text-decoration: none;
    background-color: white;
    padding: 0px 0px 0px 0px;
    margin: 0px auto 0px 30%;
    color: white;
    border-radius: 0px;
}
footer {
    background-color: #CC110E;
    color: white;
    text-align: center;
    font-size: 0,8em;
    padding: 5px;
}
footer a 
{
    color: white;
    font-weight: bolder;
    text-decoration: none;
}
footer a:hover {
    text-decoration: underline;
    color: black;
}
footer p {
    text-align: center;
}